* text=auto eol=lf
*.py text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.md text eol=lf
*.json text eol=lf
*.patch text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.asi binary
*.jar binary
